body {
    background: rgb(116, 194, 204);
}
  
h1 {
  font-size: 50px;
  color: black;
  text-align: center;
}  

h2 {
  font-size: 15px;
  color: black;
  text-align: left;
}
h3{
  font-size: 30px;
  color: black;
  text-align:left;
}
img{
    box-shadow: 10px 10px 1px black;
}

.box {
    padding: 20px;
    color: black;
    background: rgb(245, 243, 236);
  }

  @media (max-width: 900px) {

    body{
      background: rgb(162, 135, 192); 

    }
  }