body {
    background: rgb(116, 194, 204);
}
  
h1 {
  font-size: 50px;
  color: black;
  text-align: center;
}  

h2 {
  font-size: 15px;
  color: black;
  text-align: left;
}
h3{
  font-size: 30px;
  color: black;
  text-align:left;

}
img {
    box-shadow: 10px 10px 1px black;
}
/*.navbar {
  padding: 10px;
  background: #5191fd;
}

.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}
navbar li a {
  color: #000;
  text-decoration: none;
}
*/
  
/*
  .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
*/
  .box {
    /*height: 400px;*/
    padding: 20px;
    color: black;
    background: rgb(245, 243, 236);
  }

  @media (max-width: 900px) {

    body{
      background: rgb(162, 135, 192); 

    }


/*
    .thumbnail{
      max-width: 500;
      height: auto
    }
    .post {
      margin-top: 50px;
      margin-right: 100px;
      margin-left: 100px;
    }
  
    .box {
      height: 400px;
      padding: 20px;
      color: rgb(9, 119, 95);
      background: deepskyblue;
    }
}*/
